main#main-content {
  margin-bottom: 4rem;
  margin-top: 2rem;
}
.body-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  .body-container {
    flex-direction: row;
  }
  .body-container main {
    margin: 40px;
  }
}
.body-container aside {
  width: 250px;
  padding: 20px;
  background-color: #d9a918;
}
.body-container aside nav a {
  display: block;
  padding: 5px;
}
.body-container main {
  width: 100%;
}
.body-container main h1 {
  margin: 0;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #dddddd;
}

.book {
  position: relative;
  display: block;
  text-decoration: none;
  width: 150px;
  height: 200px;
  text-align: center;
  padding: 1rem 1rem 1rem calc(1rem + 10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  color: white;
  transition: scale 0.2s, box-shadow 0.2s;
}
.book:before {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8),
    transparent 10%,
    transparent,
    rgba(0, 0, 0, 0.2) 80%,
    transparent,
    rgba(0, 0, 0, 0.8)
  );
  border-right: 1px solid #717c8f;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.25;
  position: absolute;
  top: 0;
  width: 10px;
}
.book h2 {
  margin: 0;
  font-style: normal;
  font-size: 1rem;
  color: inherit;
  font-weight: bold;
}
.book .author,
.book .subtitle {
  font-style: italic;
}
.book:hover,
.book:focus {
  scale: 1.05;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.22);
}

.resource {
  margin-bottom: 20px;
  display: inline-block;
}
