* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

h1,
h2 {
  color: #214da6;
  font-style: italic;
  font-weight: normal;
}

.visually-hidden-accessibility {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-link {
  height: 1px;
  position: absolute;
  width: auto;
  overflow: hidden;
  background-color: transparent;
}
.skip-link:focus {
  height: auto;
  z-index: 100;
  background-color: white;
}

.inner-content {
  max-width: 1080px;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.button {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  background-color: #bf2121;
  color: white;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #d72525;
}

header {
  background-color: #d9a918;
}
header img {
  height: 85px;
  width: 100%;
  margin: auto;
}
header .inner-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
header nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}
header nav a {
  text-decoration: none;
  background-color: #d9a918;
  transition: background-color 0.2s;
  color: black;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
}
header nav a:focus,
header nav a:hover {
  background-color: #d9b91a;
}
@media screen and (min-width: 860px) {
  header {
    height: 85px;
  }
  header img {
    width: unset;
  }
  header .inner-content {
    height: 85px;
    flex-direction: row;
  }
  header nav {
    flex-direction: row;
  }
  header nav a {
    display: flex;
    align-items: center;
    line-height: normal;
    vertical-align: middle;
    padding: 35px 10px;
    height: 85px;
    width: unset;
  }
}

.notice-banner {
  background-color: #bf2121;
  color: white;
  padding: 10px 0;
}
.notice-banner .inner-content {
  text-align: center;
}
.notice-banner img {
  height: 1em;
  vertical-align: middle;
  padding-bottom: 3px;
}

footer {
  background-color: #214da6;
  padding: 20px 0;
  color: white;
}
footer a {
  color: white;
  display: block;
  text-decoration-color: transparent;
  transition: all 0.2s;
}
footer a:hover,
footer a:focus {
  text-decoration-color: white;
}
footer h2 {
  margin: 20px 0 0 0;
  font-style: normal;
  font-size: 1.2rem;
  font-weight: bold;
}
footer .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
