* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

h1,
h2 {
  color: #214da6;
  font-style: italic;
  font-weight: normal;
}

hr {
  border: 1px solid #214da6;
}

.visually-hidden-accessibility {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-link {
  height: 1px;
  position: absolute;
  width: auto;
  overflow: hidden;
  background-color: transparent;
}
.skip-link:focus {
  height: auto;
  z-index: 100;
  background-color: white;
}

.inner-content {
  max-width: 1080px;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.button {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  background-color: #bf2121;
  color: white;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #d72525;
}

.iframe-loading {
  background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100% 100%"><text fill="%23000000" x="50%" y="5%" font-family="\'Arial\', sans-serif" font-size="24" font-style="italic" text-anchor="middle">Loading...</text></svg>')
    0px 0px no-repeat;
}

/* Header */

header {
  background-color: #d9a918;
}
header img {
  height: 85px;
  max-width: 100%;
  margin: auto;
}
header .inner-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
header nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}
header nav a {
  text-decoration: none;
  background-color: #d9a918;
  transition: background-color 0.2s;
  color: black;
  padding: 1rem 2rem;
  width: 100%;
  text-align: center;
}
header nav a:focus,
header nav a:hover {
  background-color: #d9b91a;
}
@media screen and (min-width: 860px) {
  header {
    height: 85px;
  }
  header img {
    width: unset;
  }
  header .inner-content {
    height: 85px;
    flex-direction: row;
  }
  header nav {
    flex-direction: row;
  }
  header nav a {
    display: flex;
    align-items: center;
    line-height: normal;
    vertical-align: middle;
    padding: 35px 10px;
    height: 85px;
    width: unset;
  }
}

.JS-Enabled header .inner-content {
  flex-direction: row;
  align-items: center;
  height: 85px;
}
.JS-Enabled header img {
  width: unset;
}
.JS-Enabled header nav {
  display: none;
}
@media screen and (min-width: 860px) {
  .JS-Enabled header nav {
    display: flex;
  }
}
.JS-Enabled header nav .JS-Enabled header.mobile-menu-open {
  border-bottom: 2px #bf2121;
}
.JS-Enabled header.mobile-menu-open nav {
  overflow: scroll;
  display: block;
  position: fixed;
  top: 87px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d9a918;
  z-index: 1000;
}
.JS-Enabled header.mobile-menu-open nav a {
  display: block;
  text-align: left;
  padding: 1rem 2rem;
}

.hamburger {
  margin: 1rem;
  width: 40px;
  height: 30px;
  position: relative;
  top: 0;
  right: 0;
  transform: rotate(0deg);
  cursor: pointer;
  border: none;
  background: none;
}
@media screen and (min-width: 860px) {
  .hamburger {
    display: none;
  }
}
.hamburger span {
  top: 0;
  left: 0;
}
.hamburger .first-span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #214da6;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  border-radius: 0px;
  transform-origin: center center;
  position: absolute;
  transform: translate3d(0px, 0px, 0px) rotate(0deg);
  margin-top: -0.5px;
}
.hamburger.open .first-span {
  transform: translate3d(0px, 15px, 0px) rotate(45deg);
}
.hamburger .second-span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #214da6;
  transition-timing-function: ease-out;
  transition-duration: 0.125s;
  border-radius: 0px;
  transform-origin: center center;
  position: absolute;
  opacity: 1;
  top: 15px;
  margin-top: -0.5px;
}
.hamburger.open .second-span {
  opacity: 0;
}
.hamburger .third-span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #214da6;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  border-radius: 0px;
  transform-origin: center center;
  position: absolute;
  transform: translate3d(0px, 30px, 0px) rotate(0deg);
  margin-top: -0.5px;
}
.hamburger.open .third-span {
  transform: translate3d(0px, 15px, 0px) rotate(-45deg);
}

/* Notice Banner */

.notice-banner {
  background-color: #bf2121;
  color: white;
  padding: 1rem 0;
}
.notice-banner .inner-content {
  text-align: center;
}
.notice-banner img {
  height: 1em;
  vertical-align: middle;
  padding-bottom: 3px;
}

/* Main Content */

main.inner-content {
  margin-bottom: 4rem;
}

/* Footer */

footer {
  background-color: #214da6;
  padding: 2rem 0;
  color: white;
}
footer a {
  color: white;
  display: block;
  text-decoration-color: transparent;
  transition: all 0.2s;
  text-align: center;
}
footer a:hover,
footer a:focus {
  text-decoration-color: white;
}
footer h2 {
  margin: 20px 0 0 0;
  font-style: normal;
  font-size: 1.2rem;
  font-weight: bold;
}
footer .inner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 800px) {
  footer .inner-content {
    flex-direction: row;
  }
}
footer .inner-content .left-container {
  width: 100%;
  padding-bottom: 3rem;
}
@media screen and (min-width: 800px) {
  footer .inner-content .left-container {
    padding-bottom: inherit;
  }
  footer .inner-content .left-container a {
    text-align: left;
  }
}
