.Trainings-Container {
  margin-top: 2rem;
}
.Trainings-Container a {
  padding: 2rem;
  border: 4px solid #bf2121;
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
  font-weight: bold;
  background-color: white;
  color: #bf2121;
}
.Trainings-Container a:hover,
.Trainings-Container a:focus {
  background-color: #bf2121;
  color: white;
}
.Trainings-Container a span {
  display: block;
}
.Trainings-Container a .meta {
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
}
.Trainings-Container a h3 {
  margin-bottom: 0;
  font-size: 1.2rem;
}

.Additional-Lessons {
  margin-top: 4rem;
}
